# Root environment variables (copy to contracts/.env and backend/.env)
PRIVATE_KEY=your_wallet_private_key_here
ARBITRUM_SEPOLIA_RPC_URL=https://arb-sepolia.g.alchemy.com/v2/{alchemy_key_here}
CONTRACT_ADDRESS=0xA9852D119cCDf5Ff0c3C6b450bA129B8b5219B30
ARBISCAN_API_KEY=your_arbiscan_api_key_here